<app-navbar (darkModeToggle)="onDarkModeToggle($event)"></app-navbar>
<div class="main-content dark:bg-gray-800 dark:text-white min-h-screen flex flex-col" [class.dark]="isDarkMode">
    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
</div>

<!-- Global Cart Dialog -->
<app-cart-dialog
  [visible]="(dialogVisible$ | async) || false"
  [data]="dialogData$ | async"
  (onClose)="onDialogClose()"
  (onConfirm)="onDialogConfirm($event)">
</app-cart-dialog>
